<ion-header class="bg-primary text-center text-white py-3">
  <p>Incluir Nota Fiscal</p>
</ion-header>

<div class="container">
  <form>
    <div class="row">
      <div class="col-3">
        <p>N° da nota: </p><input class="form-control" type="number" [(ngModel)]="noteNumber" name="note">
      </div>
      <div class="col-4">
        <p>Fornecedor: </p><input class="form-control" type="text" [(ngModel)]="provider" name="provider">
      </div>
      <div class="col-5">
        <p>Data: </p><input class="form-control" type="date" name="date" [(ngModel)]="date" placeholder="Nome do paciente">
      </div>
    </div>
    <div class="row my-2">
      <div class="col-6">
        <p>Paciente: </p><input class="form-control" type="text" name="patient" [(ngModel)]="patient" placeholder="Nome do paciente">
      </div>
      <div class="col-6">
        <p>Médico: </p><input class="form-control" type="text" name="doctor" [(ngModel)]="doctor" placeholder="Nome do médico">
      </div>
    </div>
    <p>Itens:</p>
    <div class="row">
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Item">
      </div>
      <div class="col-4">
        <input class="form-control" type="number" placeholder="Quantidade">
      </div>
    </div>
    <div class="my-3 text-end">
      <button class="btn btn-primary me-2">Confirmar</button>
      <button class="btn btn-danger">Cancelar</button>
    </div>
  </form>
</div>
