<ion-header class="bg-primary text-center text-white py-3 position-fixed">
    <ion-title>Incluir Nota Fiscal</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <div class="container mt-5">
    <form [formGroup]="formNote">
      <div class="row">
        <div class="col-3">
          <p>N° da nota: </p>
          <ion-item>
            <ion-input formControlName="noteNumber" type="number" name="note" placeholder="Número da nota"></ion-input>
          </ion-item>
        </div>
        <div class="col-4">
          <p>Fornecedor: </p>
          <ion-item>
            <ion-select formControlName="provider" placeholder="Selecione">
              <ion-select-option *ngFor="let provider of providerList">{{provider}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="col-5">
          <p>Data de emissão: </p>
          <ion-item>
            <ion-input formControlName="issueDate" type="date" name="date"></ion-input>
          </ion-item>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-6">
          <p>Paciente: </p>
          <ion-item>
            <ion-input formControlName="patient" type="text" name="patient" placeholder="Nome do paciente"></ion-input>
          </ion-item>
        </div>
        <div class="col-6">
          <p>Médico: </p>
          <ion-item>
            <ion-select formControlName="doctor" placeholder="Selecione">
              <ion-select-option *ngFor="let doctor of doctorList">{{doctor}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <p>Itens:</p>
      <div id="itens">
        <div id="1">
          <select id="product" class="form-select">
            <option selected>{{product}}</option>
          </select>
          <div class="row my-3">
            <div class="col-4">
              <ion-item>
                <ion-input id="serie1" type="number" placeholder="Número de série"></ion-input>
              </ion-item>
            </div>
            <div class="col-4">
              <ion-item>
                <ion-input id="volume1" type="number" placeholder="Volume"></ion-input>
              </ion-item>
            </div>
            <div id="icon" class="col-4 text-end">
              <ion-icon id="add" name="add-circle" size="large" (click)="addItem()"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="my-3 text-end">
        <button type="button" class="btn btn-primary me-2" (click)="noteEntry()">Confirmar</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
</ion-content>