<ion-header class="bg-primary text-center text-white py-3 position-fixed">
    <ion-title>{{title}}</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <div>
    
  </div>
  <div class="container mt-5">
    <form id="exitForm">      
      <p>Itens:</p>
      <div id="itensOut">
        <div id="1">
          <select id="product" class="form-select">
            <option selected>{{product}}</option>
          </select>
          <div class="row my-3">
            <div class="col-4">
              <ion-item>
                <ion-input id="serie1" (keyup)="loadInfo(1)" type="number" name="serie" placeholder="Número de serie"></ion-input>
              </ion-item>
            </div>
            <div class="col-4">
              <ion-item>
                <ion-input id="volume1" type="number" name="volume" placeholder="Volume"></ion-input>
              </ion-item>
            </div>
            <div id="icon" class="col-4 text-end">
              <ion-icon id="add" name="add-circle" size="large" (click)="addItem()"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-6">
          <p>Paciente:</p>
          <ion-item>
            <ion-input type="text" name="patient" [(ngModel)]="patient" placeholder="Nome do paciente"></ion-input>
          </ion-item>
        </div>
        <div class="col-6">
          <p>Médico:</p>
          <ion-item>
            <ion-select [(ngModel)]="doctor" placeholder="Selecione">
              <ion-select-option *ngFor="let doctor of doctorList">{{doctor}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="my-3 text-end">
        <button type="button" class="btn btn-primary me-2" (click)="noteOutput()">Confirmar</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
</ion-content>