<ion-header class="bg-primary text-center text-white py-3 position-fixed">
    <ion-title>Nova Saída</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <div class="container mt-5">
    <form>      
      <p>Itens:</p>
      <div id="itensOut">
        <div id="1">
          <select id="product" class="form-select">
            <option selected>{{product}}</option>
          </select>
          <div class="row my-2">
            <div class="col-4">
              <input id="serie1" (keyup)="loadInfo(1)" class="form-control" name="serie" type="number" placeholder="Número de série">
            </div>
            <div class="col-4">
              <input id="volume1" class="form-control" type="number" name="volume" placeholder="Volume">
            </div>
            <div id="icon" class="col-4 text-end">
              <ion-icon id="add" name="add-circle" size="large" (click)="addItem()"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-6">
          <p>Paciente: </p>
          <input class="form-control" type="text" name="patient" [(ngModel)]="patient" placeholder="Nome do paciente">
        </div>
        <div class="col-6">
          <p>Médico: </p>
          <select [(ngModel)]="doctor" class="form-select">
            <option value="" selected>Selecione um Médico</option>
            <option *ngFor="let doctor of doctorList">{{doctor}}</option>
          </select>
        </div>
      </div>
      <div class="my-3 text-end">
        <button type="button" class="btn btn-primary me-2" (click)="noteOutput()">Confirmar</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
</ion-content>