<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="text-white text-center">Sistema de Controle de prótese</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex justify-content-center h-100">
    <div class="col-6 align-self-center text-center">
      <form>
        <ion-item class="ion-margin">
          <ion-label>Usuario:</ion-label>
          <ion-input class="" type="text" name="user" [(ngModel)]="user"></ion-input>
        </ion-item>
        <ion-item class="ion-margin">
          <ion-label>Senha:</ion-label>
          <ion-input class="" type="password" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <button class="btn btn-primary" (click)="login()">Login</button>
      </form>
    </div>
  </div>
</ion-content>
