<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
    <ion-item>
      <span>Usuario:</span>
      <input class="form-control" type="text" name="user" [(ngModel)]="user">
    </ion-item>
    <ion-item>
      <span>Email:</span>
      <input class="form-control" type="text" name="email" [(ngModel)]="email">
    </ion-item>
    <ion-item>
      <span>Senha:</span>
      <input class="form-control" type="password" name="password" [(ngModel)]="password">
    </ion-item>
    <button class="btn btn-primary" (click)="register()">Cadastrar</button>
  </form>

</ion-content>
