
<ion-content [fullscreen]="true">
  <div class="h-100 row mx-1">
    <div class="col-3 text-center" style="border: 1px solid red;">
      <div>
        <button class="btn btn-primary btn-lg m-2 w-100" (click)="openModal(entrada)">Nova entrada</button>
      </div>
      <div>
        <button class="btn btn-primary btn-lg m-2 w-100" (click)="openModal(saida)">Nova saída</button>
      </div>
    </div>
    <div class="col-9" style="border: 1px solid blue;">
      <fieldset class="border-fieldset mt-3 p-3">
        <legend class="legend-fieldset"><span>Registros</span></legend>

        <form class="mt-4">
          <div class="row">
            <div class="col-3">
              <p>N° da nota: </p><input class="form-control" type="number" [(ngModel)]="noteNumber" name="note">
            </div>
            <div class="col-5">
              <p>Paciente: </p><input class="form-control" type="text" name="patient" [(ngModel)]="patient" placeholder="Nome do paciente">
            </div>
            <div class="col-4">
              <p>Médico: </p><input class="form-control" type="text" name="doctor" [(ngModel)]="doctor" placeholder="Nome do médico">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6">
              <p>Fornecedor: </p><input class="form-control" type="text" [(ngModel)]="provider" name="provider">
            </div>
            <div class="col-4">
              <p>Data: </p><input class="form-control" type="date" name="date" [(ngModel)]="date" placeholder="Nome do paciente">
            </div>
            <div class="col-2 align-self-end text-end">
              <a (click)="consulta()"><ion-icon name="search" size="large"></ion-icon></a>
            </div>
          </div>
        </form>
        <ion-button id="trigger-button">Click to open modal</ion-button>
        <ion-modal trigger="trigger-button">
          <ng-template>
            <ion-content>
              Modal Content
              <ion-button (click)="dismiss()">Fechar</ion-button>
            </ion-content>
          </ng-template>
        </ion-modal>
      </fieldset>
    </div>
  </div>

</ion-content>
