.border-fieldset {
    border: 2px groove gray;
    position: relative;
}

.legend-fieldset {
    width: 100%;
    position: absolute;
    line-height: 20px;
    height: 20px;
    top: -10px;
    left: 0; 
}

.legend-fieldset span {
    background-color: white;
    padding: 0 15px;
    margin-left: 10px;
}

p {
    display: inline;
}

.icon {
    position: relative;
    top: 3px;
    margin-right: 5px;
}

a {
    text-decoration: none;
}

#userName {
    position: relative;
    top: -6px;
    margin-right: 5px;
}

#menu {
    position: absolute;
    left: auto;
    right: 0;
}

ion-item {
    display: flex;
}