
<ion-content [fullscreen]="true">
  <div class="h-100 row mx-1">
    <div class="col-3 text-center" style="border: 1px solid red;">
      <div>
        <button class="btn btn-primary btn-lg m-2 w-100">Nova entrada</button>
      </div>
      <div>
        <button class="btn btn-primary btn-lg m-2 w-100">Nova saída</button>
      </div>
    </div>
    <div class="col-9" style="border: 1px solid blue;">
      <fieldset class="border-fieldset mt-3 h-50">
        <legend class="legend-fieldset"><span>Registros</span></legend>

        <form>
          
        </form>
      </fieldset>
    </div>
  </div>
</ion-content>
