<ion-content [fullscreen]="true">

  <nav class="navbar navbar-light">
    <div class="container-fluid d-flex justify-content-end">
      <a class="text-dark" href="#" id="navbarDropdown" data-bs-toggle="dropdown">
        <p id="userName">{{user}}</p><span class="icon"><ion-icon name="person-circle" size="large"></ion-icon></span>
      </a>
      <ul id="menu" class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Alterar e-mail</a></li>
        <li><a class="dropdown-item" href="#">Alterar senha</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-danger" href="/login">
          <span class="icon"><ion-icon name="exit-outline" size="small"></ion-icon></span>
          <p>Sair</p>
        </a></li>
      </ul>
    </div>
  </nav>

  <div class="h-100 row mx-1">
    <div class="col-3 text-center">
      <div>
        <button class="btn btn-primary btn-lg m-2 w-100" (click)="navigate('entrada')">Nova entrada</button>
      </div>
      <div>
        <button class="btn btn-primary btn-lg m-2 w-100" (click)="navigate('saida')">Nova saída</button>
      </div>
      <div class="">
        <button class="btn btn-primary btn-lg m-2 w-100" (click)="navigate('estoque')">Estoque</button>
      </div>
    </div>
    <div class="col-9">
      <fieldset class="border-fieldset mt-3 p-3">
        <legend class="legend-fieldset"><span>Registros</span></legend>

        <form class="mt-4">
          <div class="row">
            <div class="col-3">
              <p>N° da nota: </p>
              <input class="form-control" type="number" [(ngModel)]="noteNumber" name="note">
            </div>
            <div class="col-4">
              <p>Fornecedor: </p>
              <select [(ngModel)]="provider" name="provider" class="form-select">
                <option value="">Selecione um fornecedor</option>
                <option *ngFor="let provider of providerList">{{provider}}</option>
              </select>
            </div>
            <div class="col-5">
              <p>Data Emissão: </p>
              <input class="form-control" type="date" name="issueDate" [(ngModel)]="issueDate">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-4">
              <p>Paciente: </p>
              <input class="form-control" type="text" name="patient" [(ngModel)]="patient" placeholder="Nome do paciente">
            </div>
            <div class="col-5">
              <p>Médico: </p>
              <select [(ngModel)]="doctor" name="doctor" class="form-select">
                <option value="">Selecione um médico</option>
                <option *ngFor="let doctor of doctorList">{{doctor}}</option>
              </select>
            </div>
            <div class="col-3">
              <p>Movimento: </p>
              <select [(ngModel)]="movement" name="movement" class="form-select">
                <option value=""></option>
                <option>Entrada</option>
                <option>Saída</option>
              </select>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-5">
              <p>Série: </p>
              <input class="form-control" type="number" name="serie" [(ngModel)]="serie" placeholder="Série do produto">
            </div>
            <div class="col-5">
              <p>Data do movimento: </p>
              <input class="form-control" type="date" name="date" [(ngModel)]="date">
            </div>
            <div class="col-2 align-self-end text-end">
              <a (click)="movementsLoad()"><ion-icon name="search" size="large"></ion-icon></a>
            </div>
          </div>
        </form>
      </fieldset>
    </div>

    <div>
      <button (click)="movementsLoad()" class="btn btn-primary btn-sm mt-5">
        <ion-icon class="text-white icon" name="refresh" size="small"></ion-icon>Atualizar
      </button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">N° nota</th>
          <th scope="col">Série(s)</th>
          <th scope="col">Fornecedor</th>
          <th scope="col">Médico</th>
          <th scope="col">Paciente</th>
          <th scope="col">Data emissão</th>
          <th scope="col">Movimento</th>
          <th scope="col">Usuário</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!loadNote">
          <td colspan="8" class="text-center">Nenhum resultado encontrado</td>
        </tr>
        <tr *ngFor="let movement of movements; let i=index">
          <td scope="row" class="text-center">
            <ion-icon class="text-primary h5 me-2" name="create" (click)="presentModal(i)"></ion-icon>
          </td>
          <td>{{movement.numNota}}</td>
          <td><span class="d-block" *ngFor="let item of itens[i]">{{item}}</span></td>
          <td>{{movement.fornecedor}}</td>
          <td>{{movement.medico}}</td>
          <td>{{movement.paciente}}</td>
          <td>{{movement.dataEmissao | date: 'dd/MM/yyyy'}}</td>
          <td>{{movement.movimentacao}}</td>
          <td>{{movement.usuario}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>